// bg
$bg-primary: #F5F5F5;

// font family
$font-primary: 'Courier New', Courier, monospace;
$font-secondary: 'Montserrat', sans-serif;
$font-logo: 'Rampart One', cursive;

// font colors
$color-primary: rgb(29, 27, 27);
$color-secondary: #F5F5F5;
$color-logo: #2f3029;
$color-lightgrey: lighten($color-primary, 20%);